# Database
DATABASE_URL="postgresql://neondb_owner:npg_I6yWPuCk8XYA@ep-lively-lab-a1wz18z0-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="umkm-kue-secret-2026-change-in-production"

# Production overrides (opsional)
# NEXTAUTH_URL="https://your-app-name.vercel.app"
# NEXTAUTH_SECRET="oBu7fGwkrsSekInunHkHZZto6Yfs9mQX1kbEVJexmKs="
NODE_ENV=production
